@use "stickyImage";


#scroll-container:not(.wipe){
  img{
    opacity: 0;
    transition: opacity 400ms;

    &.visible{
      opacity: 1;
    }
    &:first-child{
      opacity: 1;
    }
  }

  &.stop-transitions{
    img{
      transition-delay: 200ms;
    }
  }
}
