/*base styles for sticky image*/

$sans-serif: Roboto,
Helvetica,
Arial,
sans-serif;



#scroll-container {
  position: relative;
  display: block;
  margin: auto;

  figure {

    img {
      opacity: 1;
      transition:
        opacity 400ms,
        clip-path 0ms;

      &.scrolly-hidden {
        opacity: 0;
      }

      &:first-child {
        opacity: 1;
      }
    }
  }

  .scroll-captions {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 520px) {
      width: 22rem;
    }

    .step {
      margin: 0 auto 4px auto;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .step-inner {
        background-color: rgba(255, 255, 255, 0.9);
        color: #262626;
        padding: 1rem;
      }

      h3 {
        font-family: $sans-serif;
        font-weight: bold;
        text-align: left;
        font-size: 1.25rem;
        margin-bottom: .5rem;
      }

      h4 {
        font-family: $sans-serif;
        font-weight: bold;
        text-align: left;
        font-size: 1rem;
        margin-bottom: .25rem;
      }

      p {
        font-family: $sans-serif;
        text-align: left;
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }

    &.on-dark {
      @extend .scroll-captions;

      .step-inner {
        background-color: rgba(11, 11, 11, 0.9);
        color: white;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &.scrolly-loaded {

    img,
    .overlayimg,
    .baseimg,
    video {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
    }

    figure {
      position: -webkit-sticky;
      position: sticky;
      margin: 0 auto;
      width: 100%;
      top: 0;
    }
  }



  &.stop-transitions {
    figure {
      img {
        transition-delay: 200ms;
      }
    }
  }


  &.image-right {

    @media(min-width: 520px) and (max-width:767.98px) {
      .scroll-captions {
        width: 80%;
        margin: auto;
      }
    }

    @media (min-width:768px) {

      figure {
        margin: 0 0 0 auto;
        width: 66%;
        transition: transform 800ms ease;

        @media(prefers-reduced-motion) {
          transform: translateX(0) !important;
          transition: none;
        }
      }

      &.no-transitions figure,
      figure.translate {
        transform: translateX(0) !important;
      }

      .scroll-captions {
        width: 33.33%;
      }
    }

    &.stop-transitions,
    &.no-transitions {
      figure {
        transition: none !important;
      }
    }
  }
}

/*debug*/
#scroll-container .scroll-captions .step {
 // background-color: #dddd4488;
}