$sans-serif: Roboto,
Helvetica,
Arial,
sans-serif;

@mixin caption-left {
  @media (min-width: 520px) {
    margin: auto auto auto 0;
  }
}

@mixin caption-center {
  @media (min-width: 520px) {
    margin: auto;
    max-width: 40rem;
  }
}

@mixin caption-right {
  @media (min-width: 520px) {
    margin: auto 0 auto auto;
  }
}

#scroll-container {
  position: relative;
  display: block;
  margin: auto;

  figure {

    img {
      opacity: 1;
      transition:
        opacity 400ms,
        clip-path 0ms;

      &.scrolly-hidden {
        opacity: 0;
      }

      &:first-child {
        opacity: 1;
      }
    }
  }

  .scroll-captions {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;



    .step {
      margin: auto auto auto 0;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (min-width: 520px) {
        max-width: 22rem;
      }

      .step-inner {
        background-color: rgba(255, 255, 255, 0.9);
        color: #262626;
        padding: 1rem;
      }

      h3 {
        font-family: $sans-serif;
        font-weight: bold;
        text-align: left;
        font-size: 1.25rem;
        margin-bottom: .5rem;
      }

      h4 {
        font-family: $sans-serif;
        font-weight: bold;
        text-align: left;
        font-size: 1rem;
        margin-bottom: .25rem;
      }

      p {
        font-family: $sans-serif;
        text-align: left;
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }

    &--on-dark {
      //@extend .scroll-captions;

      .step {
        .step-inner {
          background-color: rgba(11, 11, 11, 0.9);
          color: white;
        }
      }
    }

    &--center .step {
      @include caption-center
    }

    &--right .step {
      @include caption-right
    }

    .step--left {
      @include caption-left
    }

    .step--center {
      @include caption-center
    }

    .step--right {
      @include caption-right
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &.scrolly-loaded {

    figure {
      position: -webkit-sticky;
      position: sticky;
      margin: 0 auto;
      width: 100%;
      top: 0;

      img,
      .overlayimg,
      .baseimg,
      video {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
      }
    }
  }





  &.image-right {

    figure {
      transition: transform 800ms ease;

      &.translate {
        transform: translateX(0) !important;
      }

      @media(prefers-reduced-motion) {
        transform: translateX(0) !important;
        transition: none !important;
      }
    }

    &.no-animation {
      figure {
        transform: translateX(0) !important;
        transition: none !important;
      }
    }

    @media(min-width: 520px) and (max-width:767.98px) {
      .scroll-captions .step {
        width: 80%;
        margin: auto;
      }
    }

    @media (min-width:768px) {

      figure {
        margin: 0 0 0 auto;
        width: 66%;
      }

      .scroll-captions .step {
        width: 33.33%;
      }
    }
  }

  /* force fill image-right with bg */
  &.image-right.force-fill {

    @media(min-width: 520px) and (max-width:967.98px) {
      .scroll-captions .step {
        width: 80%;
        margin: auto;
      }

      figure {
        margin: 0 auto;
        width: 100%;
      }
    }

    @media (min-width: 1248px) {

      figure {
        width: 50%;
      }

      .scroll-captions {
        width: 50%;

        .step {
          width: 100%;
          max-width: 28rem;
          margin: auto;

          .step-inner {
            background-color: unset;
          }
        }
      }
    }
  }

  &.stop-transitions {
    figure {
      transition: none;
    }

    figure img {
      transition-delay: 200ms;
    }
  }

}

/*debug*/
#scroll-container .scroll-captions .step {
  //background-color: #dddd4488;
}