@use 'stickyImage';
@use 'imgChange';


#scroll-container {
  &.image-right {

    @media(min-width: 520px) and (max-width:767.98px) {
      .scroll-captions {
        width: 80%;
        margin: auto;
      }
    }

    @media (min-width:768px) {

      figure {
        margin: 0;
        margin-left: auto;
        width: 66%;
        transition: transform 800ms ease;

        @media(prefers-reduced-motion) {
          transform: translateX(0)!important;
          transition: none;
        }
      }

      &.no-transitions figure,
      figure.translate {
        transform: translateX(0)!important;
      }

      .scroll-captions {
        width: 33.33%;
      }
    }

    &.stop-transitions, &.no-transitions {
      figure {
        transition: none !important;
      }
    }
  }
}


//DEBUG

/*#scroll-container figure {
  background-color: #dd00aa44;
}

#scroll-container .scroll-captions {
  background-color: #dd995544;
}*/

.step {
  background-color: #44dd4433;
}

.step:before{
  content:attr(data-step);
  background-color: lightblue;
  position: absolute;
  left: 32px;
  padding: 8px;
}
