@use 'stickyImage';
@use 'imgChange';


#scroll-container {
  &.image-right {

    @media(min-width: 520px) and (max-width:767.98px) {
      .scroll-captions {
        width: 80%;
        margin: auto;
      }
    }

    @media (min-width:768px) {

      figure {
        margin: 0;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 66%;
        transition: margin-left 800ms ease, transform 800ms ease;

        @media(prefers-reduced-motion) {
          margin-left: 100%;
          transform: translateX(-100%);
          transition: none;
        }
      }

      &.no-transitions figure,
      figure.translate {
        margin-left: 100%;
        transform: translateX(-100%);
      }

      .scroll-captions {
        width: 33.33%;
      }
    }

    &.stop-transitions, &.no-transitions {
      figure {
        transition: none !important;
      }
    }
  }
}




