@use 'stickyImage';
@use 'imgChange';



/*debug*/

#scroll-container .scroll-captions .step {
 // background-image: linear-gradient(180deg, #44dd4433 0, #44dd4433 calc(100% / 5 - .1%), hotpink calc(100% / 5), #44dd4433 calc(100% / 5 + 0.1%), #44dd4433 calc(200% / 5 - .1%), cyan calc(200% / 5), #44dd4433 calc(200% / 5 + 0.1%), #44dd4433 calc(300% / 5 - .1%), hotpink calc(300% / 5), #44dd4433 calc(300% / 5 + 0.1%), #44dd4433 calc(400% / 5 - .1%), cyan calc(400% / 5), #44dd4433 calc(400% / 5 + 0.1%), #44dd4433 calc(500% / 5 - .1%), hotpink calc(500% / 5), #44dd4433 calc(500% / 5 + 0.1%), #44dd4433 calc(500% / 5 - .1%), cyan calc(500% / 5), #44dd4433 calc(500% / 5 + 0.1%), #44dd4433 100%);
//background-color: #44dd4433;
}
/*pink indcates desired mask edge */


/*#scroll-container figure {
  background-color: #dd00aa44;
}

#scroll-container .scroll-captions {
  background-color: #dd995544;
}

#scroll-container {
  background-color: #44dd4433;
}*/

#scroll-container{
  .scroll-captions{
    .step{
      justify-content: start;
    }
  }
}