/* firstscroll */
#scroll-container {
  position: relative;
  display: block;
  margin: auto;
}

#scroll-container>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#scroll-container figure {
  position: -webkit-sticky;
  position: sticky;
  margin: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
  vertical-align: middle;
}

#scroll-container figure img {
  /* height: 100%; */
  width: 100%;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* opacity: 1; */
  /* animation: fadeIn 2s; */
}

/* #step-0, #step-1, #step-2, #step-3{      animation: fadeIn 5s; } */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#scroll-container .scroll-captions, #scroll-container .scroll-captions--on-dark {
  position: relative;
  /* padding: 0 1rem; */
  padding: 0;
  width: 100%;
  /* max-width: 20rem; */
  /* margin: 0 auto; */
  margin-left: 0%;
}

.step {
  margin: 0 auto 80rem auto;
  /*background-color: transparent;
  color: transparent;*/
  /* opacity:0.3; */
}

/* .step :first-child .is-active {   margin-top: 80rem; } */
/* .step :first-child  {  margin-top: 80rem; } */
.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  margin-top: -80em;
}

#scroll-container .scroll-captions .step{
   background-color: rgba(255, 255, 255, 0.9);
  color: #262626;
}

#scroll-container .scroll-captions--on-dark .step {
 background-color: #0b0b0b;
  color: white;
}

.step h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 1rem 1rem 0 1rem;
  font-size: 20px;
  margin-bottom: .5rem;
}

.step p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: left;
  padding: 0 1rem 1rem 1rem;
  font-size: 1rem;
  line-height: 1.375rem;
}

.stepbox {
  background-color: rgba(255, 255, 255, 0);
  width: 300px;
  height: 270px;
}

.scrollama__debug-offset {
  display: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#scroll-container figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
  vertical-align: middle;
}

@media (min-width:992px) {
  #scroll-container figure {
    position: -webkit-sticky;
    position: sticky;
    margin: 0;
    margin: 0 auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-align: center;
    vertical-align: middle;
  }

  #scroll-container .scroll-captions, #scroll-container .scroll-captions--on-dark {
    position: relative;
    padding: 0;
    width: 300px;

  }
}

@media (min-width:600px) {
  #scroll-container .scroll-captions, #scroll-container .scroll-captions--on-dark {
    position: relative;
    padding: 0;
    width: 300px;

  }
}